[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=vbox_client
Comment=
Exec=VBoxClient-all &
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

