<!doctype html>
<!--
 * Ghostery Panel for Firefox Android
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2017 Ghostery, Inc. All rights reserved.
 * See https://www.ghostery.com/eula for license.
-->
<html>
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../dist/css/foundation.css" media="screen" rel="stylesheet" type="text/css">
<link href="../../dist/css/panel.css" media="screen" rel="stylesheet" type="text/css">
<link href="../../dist/css/panel_android.css" media="screen" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="ghostery-app">
		<div id="ghostery-content"></div>
	</div>
	<script src="../../dist/panel_react.js"></script>
</body>
</html>
