[Desktop Entry]
Version=1.0
Type=Application
Name=File Manager
Comment=Configure the Thunar file manager
Icon=system-file-manager
Exec=thunar-settings
NoDisplay=true
Categories=DesktopSettings;GTK;Settings;X-XFCE-PersonalSettings;X-XFCE-SettingsDialog;XFCE;
StartupNotify=true
Terminal=false
