# This file is needed if regular user wants to run xinit without root
# Startx works nomally even without it
# Xinit is faster loading desktops than startx 
# The file may cause freezes or crashes depending on video driver, in that case removing the file or renaming it is advised.
# /etc/X11/Xwrapper.config
needs_root_rights = yes
